{% extends 'userlayout.html' %}

{% block body %}

{% block div %}

{% endblock div %}

    <div container style="align-items: left;">
      <div style="background: #fff; border-radius: 5px; padding: 20px;">
        
       
        <div class="info" style=" text-align: center;">
          <div>
             <div class="info-more">
      <div class="row">
          <div class="col">
           
            <img style="width: 100%; margin-bottom: 10px; margin: auto;" src="{{profile.image_file}}">
          
          </div>
      </div>
    </div>
           
          
           
          
          <br>

          
            <div class="user-profile-text" style="border-bottom: 3px solid #f2f2f2;">
                <div>
                  <p style="text-align: left;" class="text-muted">Course</p> 
                  <h6 style="text-align: left;"> {{profile.fullname}}</h6> 
                </div>
            </div>
            <div class="user-profile-text" style="border-bottom: 3px solid #f2f2f2;">
              <div>
                <p style="text-align: left;" class="text-muted">Date Assigned</p> 
                <h6 style="text-align: left;"> {{profile.indexnumber}}</h6> 
              </div>
          </div>
          <div class="user-profile-text" style="border-bottom: 3px solid #f2f2f2;">
            <div>
              <p style="text-align: left;" class="text-muted">Completion Date</p> 
              <h6 style="text-align: left;"> {{profile.email}}</h6> 
            </div>
        </div>
        <div class="user-profile-text" style="border-bottom: 3px solid #f2f2f2;">
          <div>
            <p style="text-align: left;" class="text-muted">Lecturer</p> 
            <h6 style="text-align: left;"> {{profile.guardian}}</h6> 
            
          </div>
      </div>
  <div class="user-profile-text" style="border-bottom: 3px solid #f2f2f2;">
    <div>
      <p style="text-align: left;" class="text-muted">Days Left</p> 
      <h6 style="text-align: left;"> {{profile.work}}</h6> 
    </div>
</div>

    
          
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal"style="width: 90%; background: #00008B; color: #fff; padding: 12px 20px; font-weight: 300; border: none; border-radius: 10px; font-weight: bold;" data-bs-target="#staticBackdrop">
  Submit Assignment
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
   
      <div class="modal-body">
       <!--instagram-->
        <div style="display: flex; border-bottom: 3px solid #f2f2f2;">
          <div class="user-pic" style="padding-right: 10px;">
              <img src="static/img/memoji.png" style="border-radius:10px;" >
          </div>
          <div class="user-text" style="display: flex; justify-content: space-between; width: 100%; margin-top: 15px;">
                  <div>
                       <h5 class="nams"><b>Upload Assignment</h5>
                        <button class="btn" style="color: #fff; background: #00008B; border: none;" type="submit" id="submitButton">Upload</button>
                      <h6 class="text-muted">{{profile.telephone}}</h6><br>
                  </div>  
          </div>
              
        </div>
         
       

      
     
    </div>
  </div>
</div>
      </div>
    </div>
    </div>


    {%endblock body%}
    
    
