{% extends 'userlayout.html' %}

{% block body %}




<div class="row" style="text-align: center; margin: auto;">
  <div class="col-md-2 col-6">
    <div class="user-box">
      <a href="/userbase" style="text-decoration: none; background-color:#5454c9;">
        <h4 class="user-box-items" style="margin-bottom: 3vh; font-weight: bold;">Assignment</h4>
      </a>
        <h6 class="text-muted">Students<br> Outline</h6> 
    </div>
  </div>
  
  <div class="col-md-2 col-6">
    <div class="user-box">
      <a href="/usernewform" style="text-decoration: none;">
        <h4 class="user-box-items" style="margin-bottom: 3vh; font-weight: bold;">Program</h4>
      </a>
        <h6 class="text-muted">Level <br>300</h6> 
    </div>
  </div>
  
  <div class="col-md-2 col-6">
    <div class="user-box">
      <a href="/scan" style="text-decoration: none;">
        <h4 class="user-box-items" style="margin-bottom: 3vh; font-weight: bold;">Attendance</h4>
      </a>
        <h6 class="text-muted">Verify <br>Attendance </h6> 
    </div>
  </div>
  
  <div class="col-md-2 col-6">
    <div class="user-box">
      <a href="/usernewform" style="text-decoration: none;">
        <h4 class="user-box-items" style="margin-bottom: 3vh; font-weight: bold;">My Task</h4>
      </a>
        <h6 class="text-muted">Teaching <br> Assistant</h6> 
    </div>
  </div>
  
</div>

{% endblock body %}























